$white: #ffffff;
$cascading-white: #faf6f6;
$cocos-black: #1d1d1b;
$radiant-raspberry: #e41c60;
$black: #000000;
$carbon-fiber: #2f2c2c;
$sensitive-scorpion: #ca2263;
$pictorial-carmine: #bb0a4d;
$radiant-raspberry: #e41b5f;
$white-edgar: #eeeded;
$sea-salt-sherbet: #fdf6f6;
$red-rhapsody: #ca1a1a;
$orochimaru: #d9d9d9;
$jet: #353533;
$pot-black: #161615;
$coconut-agony: #ebe7e9;
$black-knight: #020818;
$peach-petals: #d4b799;
$bitter-liquorice: #272726;
$radiant-raspberry: #e61c60;
$rose-madder: #e23237;
$red-contrast: #b52e31;
$athena-blue: #61dafb;
$red-card: #ff2d20;
$scoville-high: #e34f26;
$durotar-fire: #ef652a;
$eerie-black: #1b1b1b;